@CHARSET "UTF-8";
body
{
	background-color: #e3e3e3;
}

.ym-wrapper {
	background-color: #F3F3F3;
}

.ym-wrapper, header
{
	border-radius: 25px 25px 0 0;
}

header
{
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#6A6A6B), to(#3D3D3D));
	background: -webkit-linear-gradient(#6A6A6B, #3D3D3D);
	background: -moz-linear-gradient(#6A6A6B, #3D3D3D);
	background: -ms-linear-gradient(#6A6A6B, #3D3D3D);
	background: -o-linear-gradient(#6A6A6B, #3D3D3D);
	background: linear-gradient(#6A6A6B, #3D3D3D);
}

.ym-column {
	display: block;
	overflow: hidden;
	padding-right: 250px; /* column width */
	width: auto;
}
.ym-col1 { /* content */
	position: relative;
	float: left;
	width: 100%;
	border-right: 1px #000000 solid;
}
.ym-col3 { /* sidebar */
	position: relative;
	float: left;
	width: 249px; /* column width */
	margin: 0 -250px 0 0;
}