@CHARSET "UTF-8";
body
{
	background-color: #e3e3e3;
}

.ym-wrapper {
	border: 1px solid #000000;
	background-color: #F3F3F3;
}

header
{
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#6A6A6B), to(#3D3D3D));
	background: -webkit-linear-gradient(#6A6A6B, #3D3D3D);
	background: -moz-linear-gradient(#6A6A6B, #3D3D3D);
	background: -ms-linear-gradient(#6A6A6B, #3D3D3D);
	background: -o-linear-gradient(#6A6A6B, #3D3D3D);
	background: linear-gradient(#6A6A6B, #3D3D3D);
}